.my_bg_green{
    background-color: #05D7A0;
}

.my_bg_orange{
    background-color: #FFD166;
}

.my_bg_red{
    background-color: #F0476F;
}

.my_bg_blue{
    background-color: #1389B2;
}

.my_bg{
    background-color: #073C4B;
}